*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  
  
  

/* DEFAULTS
----------------------------------------------------------*/
body {
    background: none repeat scroll 0 0 white;
    color: #222222;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 100%;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    direction: ltr;
    margin: 0;
    padding: 0;
}


.clear
{
    clear:both;
}

/*HEADERS AND PARAH
--------------------------------------------------------*/
p {
    font-family: inherit;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2125em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    text-rendering: optimizelegibility;
}
h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 2.3125em;
}

h3 {
    font-size: 1.6875em;
}

h4 {
    font-size: 1.4375em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 1.25em 0 1.1875em;
}

/*TOP BAR
---------------------------------------------------------*/
.top-bar {
    background: none repeat scroll 0 0 #111111;
    height: 45px;
    line-height: 45px;
    margin-bottom: 1.875em;
    overflow: visible;
    position: relative;
}


.top-bar:before, .top-bar:after {
    content: " ";
    display: table;
}

.top-bar:after {
    clear: both;
}

/*ROW COLUMN ELEMENTS
----------------------------------------------------------*/
  
.row {
    margin: 0 auto;
    max-width: 62.5em;
    width: 100%;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column, .columns {
    float: left;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    position: relative;
}

.panel {
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding:1.25em;
}


/*CSS SIZE
-------------------------------------------------------*/

.large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }    

  .large-12 {
    position: relative;
    width: 100%; }
    
    
    
 /* BUTTON 
---------------------------------------------------*/
.button {
    background-color: #2BA6CB;
    border-color: #2284A1;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.25em;
    padding: 0.75em 1.5em 0.8125em;
    position: relative;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    transition: background-color 300ms ease-out 0s;
}   


.button.small {
    font-size: 0.8125em;
    padding: 0.5625em 1.125em 0.625em;
}